
$light-color:#EAEAEA;
$white-color: #ffff;
$font-family:'Roboto',sans-serif;


body{
    font-family:$font-family;
    background-color:#F6F6F6;
}


/*******header********/
.main-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffff;
    width: 375px;
    padding:14px 89px 13px 89px;
    height:55px;


    .logo{
    width: 197px;
    height: 36px;
    padding-top: 10px;


    
    }
}

.location-header{
    background-color:#EAEAEA;
    width: 375px;
    height: 56px;
    display: flex;  
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    }

/*********header*********/
.card{
    background-color:#ffff;
    border-radius: 20px;
    width: 340px;
    height: 251px;
}

.long-card{
    background-color:#F6F6F6;
    width: 322px;
    height: 72.379px;
}
/****intro section******/
.intro-container{
    text-align: center;
    padding-top: 30px;
    
    .sub-heading{
        font-size: 20px;
        font-style: normal;
        font-family: $font-family;
        font-weight: 300;
    }
 
    .restaurants{
        border-radius: 25px;
        width: 228px;
        height: 50px;
        border: 0px;
        background:linear-gradient( #FF79DA ,#9356DC);
        color: #ffff;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }
}
/********intructions*******/    
        .instructions-container{
            display: flex;
            background-color:#ffff;
            width: 395px;
            height: 450px;
            margin-left: 5px;
        }
       
        .choose{
            
            width: 322.486px;
            height: 72.379px;
            border-radius: 20px;
            border:0;
            background-color: #F6F6F6;
        }
            
        
        .build{
            width: 322.486px;
            height:72.379px ;
            border-radius: 20px;
            border: 0;
            background-color: #F6F6F6;
        }
            
        
        .enjoy{
            width: 322.486px;
            height: 72.379px;
            border-radius: 20px;
            border: 0;
            background-color: #F6F6F6;
        }
       
    

/*****restaurants*****/
.restaurant-cards{
    background-color: #F6F6F6;
    border-radius: 20px;

    .places-cards{
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        
        & .card{
            width:340px;
            height: 251px;
            
            img{
                width: 100%;
                height:174px;
                border-radius:15px 15px 0px 0px;
                object-fit: cover;

                content {
                    padding-left: 50px;


                   
                }
            }
        }
    }
}
/*******footer******/
.footer-container{
    display: flex;
    background-color: #353535;
    width: 395px;
    height:150px;
    justify-content: flex-start;


    &.logo{
        width: 139px;
        height: 27px;
        justify-content: center;
        align-items: center;


        .links{
            font-size: 16px;
            color: $white-color;
            text-align: left


        }
    }
}