$primary-color: #9356DC;
$light-color:#EAEAEA;
$secondary-color:#FF79DA;
$Tertiary-color: #99E2D0;
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
$font-stack:"roboto";



$color-1: #9356dc;
$color-2: #ff79da;
$color-3: #99e2d0;
$color-bckgrd: #f6f6f6;
$color-form: #eaeaea;
$color-footer: #353535;
$color-i: #7e7e7e;
$color-1-1: #f5edff;
$color-3-1: #028867;
$color-white: #fff;

$breakpoints: (
    medium: 600px,
    large: 850px
);