$primary-color: #9356DC;
$light-color:#EAEAEA;
$secondary-color:#FF79DA;
$Tertiary-color: #99E2D0;
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
$font-stack:"roboto";
