$font-stack:"roboto",sans-serif;
$light-color: #ffff;
$light-color:#EAEAEA;

.main-container{
    display: flex;
    background-color:$light-color;
    justify-content: center;
    width: 375px;
    height: 53px;
   
}


header {
    height: 60px;
    width: 100%;
    position: relative;
    &__logo {
        height: 50%;
        text-align: center;
        img {
            width: 88%;
        }
        margin: 0;
        padding: 0;
        margin-top: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__back {
        padding: 3px 20px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
}
